# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# All files
[*]
indent_size = 4
indent_style = space
end_of_line = crlf

# JSON files
[*.json]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf